body{
    background-color: #A30D1B;
    color: white;
}

.letra{
    font-family: "Arial", serif;
    font-size: 60px;
    font-weight: bold;   
    color: white;
}
.container{
    background-color: #A30D1B;
}

.color{
    color: white;
    text-decoration: none;
}

.navbar a{
    color: white;
    margin: 0 5px;
}
.navbar a:hover{
    color: #fc2525;
    text-decoration: none;
}

.navbar button{
    background-color: #2d50fe;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
}

.navbar button:hover{
    background-color: white;
    color: black;
}

.text-itec{
    color: #fc2525;
}

.button1{
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    padding: 12px 20px;
    background-color: #b80416;
    text-decoration: none;
}

.button1:hover{
    transition: 1s;
    background-color: rgb(210, 208, 208);
    color: black;

}

.card{
    margin-bottom: 40px;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.notice{
    background-color: #171C36;
    color: white;
}

.img-notice{
  max-width: 100%; /* La imagen no será más ancha que su contenedor */
  height: auto;    /* Mantiene la proporción de aspecto */
}

.login{
    background-color: #ffffff;
    color: black;
    border: #171C36 4px solid;
}

.imagen-logo{
    width: 150px;
    height: auto;
}

.label{
    color: #171C36;
    border: #171C36 4px solid;
}
.offcanvas{
    color: white;
    background: #171C36;
    border: black 1px solid;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%); 
    opacity: 0; /
  }
  100% {
    transform: translateY(0); 
    opacity: 1; 
  }
}

.card-animation {
  animation: slideInFromBottom 1s ease-out forwards; 
}

.contacto{
    background-color: #df0a1f;
    padding: 20px;
    border-radius: 20px;

}

.logistica{
    background-color: #0F1224;
    color: white;
    border: white 3px solid;
    border-radius: 30px;
    margin: 10px;
}
.logistica p{
    text-align: justify;
    margin: 10px 30px 10px 30px;
}

.gastronomia{
    background-color: #D91023;
    color: white;
    border: white 3px solid;
    border-radius: 30px;
    margin: 10px;
}
.gastronomia p{
    text-align: justify;
    margin: 10px 30px 10px 30px;
}

.maquinaria{
    background-color: #F0B800;
    color: white;
    border: white 3px solid;
    border-radius: 30px;
    margin: 10px;
}
.maquinaria p{
    text-align: justify;
    margin: 10px 30px 10px 30px;
}

.carreras-img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}

.carreras-img:hover{
    transform: scale(1.02);
    transition: 0.8s;
}